[Unit]
Description=Postgresql-Python lovely project
After=postgresql.service

[Service]
User=root
Group=root
WorkingDirectory=/path/to/your/app
Restart=on-failure
ExecStart=/bin/bash /var/lib/jenkins/workspace/postgresql-python/systemd_script.sh

[Install]
WantedBy=multi-user.target
