/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: none;
    scrollbar-color: #000000 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: radial-gradient(at left top, #FFFFFF, #BAB7B0);
}

*::-webkit-scrollbar-thumb {
    background-color: #000000e4;
    border-radius: 10px;
    border: 3px solid #d4d2ce;
}